<span class="currency price">
        {% if post.sale_price %}
        <span class="woocommerce-Price-currencySymbol">{{ post.sale_price|wcprice }}</span>
        <del class="woocommerce-Price-amount">{{ post.regular_price|wcprice }}</del>
        {% else %}
        <span class="woocommerce-Price-currencySymbol">{{ post.price|wcprice }}</span>
        {% endif %}
</span>
