<section class="s-products related_products">
    <h2>{{ __('Related products', 'woocommerce') }}</h2>
    <ul class="products_row products columns-4 related_products_slider">
        {% for post in related_products %}
        {% include ['content/product-preview.twig']  %}
        {% endfor %}
    </ul>
</section>
