{% for variation in product.params %}
    <div class="select_item">
        <label for="{{ variation.key }}">{{ variation.label }}</label>
        <select data-attribute-name="attribute_pa_{{ variation.key }}"
                name="attribute_pa_{{ variation.key }}"
                data-attribute-name="attribute_pa_{{ variation.key }}"
                id="{{ variation.key }}"
                class="select_custom bootstrap-select" data-show_option_none="yes">
            <option >{{ __('None','woocommerce') }}</option>
            {% for val in variation.values %}
                <option value="{{ val.key }}">{{ val.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endfor %}