/*
    Theme Name: nikita.global theme
    Theme URI: http://nikita.global
    Author: Nikita Menshutin
    Author URI: https://nikita.global
    Description: Custom theme: nikita.global, developed by Nikita Menshutin
    Version: 1.0.0
    License: GNU General Public License v2 or later
    License URI: LICENSE    Text Domain: nikitaGlobal
    Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
    */

.woocommerce-variation {
    max-width: 150px;
    width: 100%;
}

.woocommerce-variation-availability p {
    text-align: center;
    width: 100%;
    margin: 0 !important;
}

.s-shopping_cart .woocommerce-shipping-calculator .selection {
    /*   display: none;*/
}

.s-shopping_cart .selection > span {
    /*  display: none!important;*/
}

.s-shopping_cart .shipping-calculator-form p > span {
    width: 100%;
}

.s-shopping_cart .shipping-calculator-form .show {
    /*   min-width:auto !important;
       transform: translate3d(0px, 70px, 0px) !important;*/
}

.s-shopping_cart #calc_shipping_country_field {
    /* display: none !important;*/
}

.s-shopping_cart .select2-selection {
    width: 100%;
    height: 46px !important;
    line-height: 46px;
}

.s-shopping_cart .select2-selection .select2-selection__rendered {
    line-height: 46px !important;
}

.s-shopping_cart .select2-selection .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%);
}

.s-shopping_cart .select2-selection .select2-selection__arrow b {
    border: none !important;

}

.s-shopping_cart .select2-selection::after {
    content: url(assets/images/triangle-white.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #F3568F 0%, #B90144 100%);
    border: none;
    min-width: 33px;
    height: 33px;
    width: 33px;
    border-radius: 5px;
    position: absolute;
    right: 12px;
    top: 6px;
}

.s-shopping_cart .select2-container--open .select2-selection::after {
    display: none !important;
}

.s-checkout p.user_consents_privacy-policy {

}

.s-checkout select.notpicker {
    width: 100%;
    height: 46px !important;
    line-height: 46px;
    display: block;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.s-checkout select.notpicker::after {
    content: url(assets/images/triangle-white.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #F3568F 0%, #B90144 100%);
    border: none;
    min-width: 33px;
    height: 33px;
    width: 33px;
    border-radius: 5px;
    position: absolute;
    right: 12px;
    top: 6px;
}

.s-checkout select.notpicker::-ms-expand {
    display: none;
}

body > .woocommerce-notices-wrapper {
    display: none;
}

body > #sign_in {
    display: none;
}

main #sign_in, main #sign_up {
    max-width: 50% !important;
    width: 40%;
}

button[type="submit"] {
    background: linear-gradient(180deg, #F3568F 0%, #B90144 100%);
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 24px;
}

.footer_absolute {
    width: 100%;
}

#ngnotice {
    position: relative;
}

#ngnotice li {
    list-style: none;
}

.ngnoresult {

    font-weight: bold;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
    width: 100%;
}

.ngnoresult img {

}

.products_row .products_item .price, .products_row .products_item .woocommerce-loop-product__title {

}

.products_row .products_item .price::before {
    /*    content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.4;
    */
}

.cwprocessing, .ngsubmitted {
    position: relative;
}

.cwprocessing *, .ngsubmitted * {
    visibility: hidden;
}

.cwprocessing .popup_close, .cwprocessing .popup_close *, .ngsubmitted .popup_close, .ngsubmitted .popup_close * {
    visibility: visible;
}

.cwprocessing::before, .ngsubmitted::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.products_wrapper .wp-post-image {
    height: 300px;
}

.woocommerce-variation-availability {
    position: absolute;
}

.s-product_single .select_wrap .select_item:nth-child(n+2) {
    margin-left: 35px;
}

input {
    padding: 12px 10px 12px 10px;
}

.footer_menu .ngleft li {
    display: block !important;
}

.form_custom h4 {
    color: #B90144;
}

.form_custom .popup_close {
    background-color: #B90144;
}

.filter_show {
    display: none;
}

.products_filter {
    color: #B90144;
}

.woocommerce-breadcrumb {
    padding-right: 50px;

}

.woocommerce-breadcrumb, .woocommerce-result-count {
    display: inline-block;
    margin-bottom: 0;
}

.header .chat {
    bottom: 2em;
    top: auto;
}

.header .header_right {
    width: 40%;
}

.header .cart_button {
    margin-right: 0;
}

.footer_contact li {
    display: block !important;
}

.nostyle .products_item .wp-post-image {
    /*max-width: 367px;*/
    height: 301px;
}

.nostyle .related_products .wp-post-image {
    height: 401px;
    margin: auto;
}

.related_products .wp-post-image {
    margin: auto;
    height: 300px;
}

.related_products .price {
    position: static;
}

.sidebar_category ul .sidebar_category_active::before {
    display: none !important;
}

.sidebar_category ul ul {
    margin-top: 15px;
}

.sidebar_category ul .sidebar_category_active > a {
    display: block;
    position: relative;
}

.sidebar_category ul .sidebar_category_active > a::before {
    content: '';
    display: block;
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 100%;
    background-color: #FF96A9;
    border-radius: 0 10px 10px 0;
}

.footer {
    background-color:#FF96A9 !important;
}
.menu_wrap .menu_list_wrap .current_page_item > a {
    background-color: transparent!important;
}
.menu_wrap .menu_list_wrap .current_page_item > a::before {
    width: 100%;

}
.menu_wrap .menu_list_wrap .current_page_item > a {
    padding: 0;
}
.menu_wrap .menu_list_wrap .current_page_item > a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px !important;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #FF96A9;
    transition: 0.3s ease-out;
}
.s-shopping_cart {
    margin-bottom:150px;
}

.menu_wrap .menu_list_wrap .current_page_item > a:hover {
    color: #67432B;
}
.menu_wrap .menu_list_wrap a::before {

}