<div class="sign-up_in">
    {% if user %}
            <a href="{{ user.myaccount_url }}"  data-src="#sign_up" class="sign_up">
                    {{ __('My account', 'woocommerce') }}
            </a>
            <a href="{{ user.logout_url }}"
               class="sign_in button_custom">
                    {{ __('Logout', 'woocommerce') }}
            </a>
    {% else %}
        <a href="#" data-fancybox data-src="#sign_up" class="sign_up">
            {{ __('Register', 'woocommerce') }}
        </a>
        <a href="#0" data-src="#sign_in" data-fancybox
           class="sign_in button_custom">
            {{ __('Login', 'woocommerce') }}
        </a>
    {% endif %}
</div>