{{ fn('timber_set_product', post) }}
<li class="products_item product type-product status-publish first instock product_cat-posters has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
    <a href="{{ post.link }}">
        {% if post.sale_price %}
        <div class="favourite">
            <img src="{{ theme.uri }}/assets/images/favourite.png" alt="">
        </div>
        {% endif %}
        {% if post.custom._thumbnail_id %}
            <img src="{{ Image(post.custom._thumbnail_id).src('medium') }}"
                 class="woocommerce-placeholder wp-post-image"
                 alt="{{ Image(post.custom._thumbnail_id).alt() }}">
        {% endif %}
    </a>

    <div class="product-type_bottom">
        <div class="left">
            <a href="#" class="woocommerce-loop-product__title">{% if post.post_title %}{{ post.post_title }}{% else %}{{ fn('the_title') }}{% endif %}</a>
            {% include 'woo/partials/_pricePreview.twig' %}
        </div>
        <div class="right">
            <a href="{{ post.link }}" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                Виж повече
            </a>
        </div>
    </div>
    {% if woocommerce %}
        {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
        {% do action( 'woocommerce_after_shop_loop_item' ) %}
    {% endif %}
</li>
