{% do action('woocommerce_before_single_product') %}
<section class="s-product_single">
    <div class="left woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images">
        <div class="product_single_fotorama fotorama" data-nav="thumbs">
            {% if product.image_id %}
                <img data-test="{{ post.image_id }}"
                     src="{{ Image(product.image_id).src() }}"
                     alt="{{ Image(product.image_id).alt() }}">
            {% endif %}
            {% for image in product.gallery_image_ids %}
                <img data-test="{{ image }}" src="{{ Image(image).src() }}"
                     alt="{{ Image(image).alt() }}">
            {% endfor %}
        </div>
        {% if 2==1 %}
        <div class="ball">
            +10 баллов
        </div>
        {% endif %}
    </div>

    <div class="right">
        <div class="summary entry-summary">
            {% do action('woocommerce_single_product_summary') %}
        </div>

        <ul class="nav nav-tabs tabs wc-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab"
                   href="#home" role="tab" aria-controls="home"
                   aria-selected="true">{{ __('Short description', 'woocommerce') }}</a>
            </li>
            {% if product.description|length>0 %}
                <li class="nav-item">
                    <a class="nav-link" id="add-info-tab" data-toggle="tab"
                       href="#profile" role="tab" aria-controls="profile"
                       aria-selected="false">{{ __('Description', 'woocommerce') }}</a>
                </li>
            {% endif %}
            {#  <li class="nav-item">
                  <a class="nav-link" id="testimonials-tab" data-toggle="tab"
                     href="#contact" role="tab" aria-controls="contact"
                     aria-selected="false">Отзывы</a>
              </li> #}
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel"
                 aria-labelledby="description-tab">
                {{ product.short_description|nl2p }}
            </div>
            {% if product.description|length>0 %}
                <div class="tab-pane fade" id="profile" role="tabpanel"
                     aria-labelledby="add-info-tab">
                    {{ product.description|nl2p }}
                </div>
            {% endif %}


            {#
            <div class="tab-pane fade" id="contact" role="tabpanel"
                 aria-labelledby="testimonials-tab">...
            </div>#}
        </div>
    </div>
</section>
{% if related_products %}
    {% include 'woo/partials/related.twig' %}
{% endif %}
 {% do action('woocommerce_after_single_product') %}