/* PRODUCT PAGE DETAIL */
.product-page {
    .size-chart {
        font-size: $font-size;
        font-weight: normal;
    }
    .left {
        padding-right: 20px;
    }
    .right {
        padding-left: 20px;
    }
    .custom.dropdown {
        width: 80%;
    }
    .text-center .custom.dropdown {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .prefix.last {
        @include radius('0px 10px 0px 10px');
    }
}

/* Product detail info */
.product-info {
    .entry-title {
        text-transform: uppercase;
        margin: 0 0 5px;
        word-wrap: break-word;
        font-weight: normal;
        font-size: 180%;
        a {
            color: #000;
            @include single-transition(all, 200ms);
            &:hover {
                color: $primary-color;
            }
        }
    }
    .yith-wcwl-add-to-wishlist {
        display: none;
    }
    .star-rating {
        margin: 0;
        margin-bottom: 20px;
    }
    .woocommerce-product-rating {
        display: none;
    }
    .quantity {
        margin-right: 20px;
        float: left;
    }
    .social-icons {
        border-top: 1px dotted $border;
        padding: 25px 0 15px;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    .compare {
        display: none;
    }
    
    /* Product Variations */
    .variations {
        .value {
            margin-left: 0;
        }
        select {
            margin-bottom: 0;
            padding: 10px;
        }
        td {
            vertical-align: middle;
        }
        tr {
            border: none;
        }
        label {
            font-size: 95%;
            font-weight: bolder;
            margin: 0;
        }
        .reset_variations {
            display: none;
        }
        .select-wrapper {
            width: 90%;
        }
    }
    .product_meta {
        > span {
            line-height: 1.6em;
            display: block;
            border-top: 1px dotted $border;
            padding: 12px 0;
            font-size: $font-size;
        }
        a {
            color: #888;
        }
    }
}

/* Product detail - Description, review, product tab */
.product-details{
    margin: 50px 0px 20px 0px;
    .woocommerce-tabs{
        margin-bottom: 50px;
        #lt-tab-additional {
            font-size: $font-size; 
            line-height: 1.7;
        }
        #lt-tab-additional_information {
            font-size: 110%;
        }
        #reviews {
            h2, h3 {
                font-weight: normal;
                letter-spacing: 0;
                color: $body-font-color;
            }
            h2{
                font-size: 130%;
            }
            h3{
                font-size: 110%
            }
            #comments{
                .review-item{
                    position:relative; 
                    border-bottom: 2px dotted $border-light; 
                    margin-bottom: 15px;
                    min-height: 85px;
                    padding-left: 90px;
                }
                .review-item .avatar{
                    position: absolute;
                    left:0;
                    top:-5px;
                }
                .review-item .description{
                    color: #555;
                    font-style: italic;
                    font-family: georgia;
                    font-size: 105%;
                    padding-right: 20%
                }
                .star-rating {
                    display: inline-block;
                }
                p.meta {
                    display: inline-block;
                    margin-bottom: 5px;
                }
            }
            #respond{
                /* WOOCOMMERCE REVIEW */
                p.stars {
                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                    span {
                        width: 80px;
                        height: 16px;
                        position: relative;
                        float: left;
                        background: url(css/star.png) repeat-x left 0;
                        a {
                            float: left;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 16px;
                            height: 0;
                            padding-top: 16px;
                            overflow: hidden;
                            &:hover {
                                background: url(css/star.png) repeat-x left -16px;
                            }
                            &:focus {
                                background: url(css/star.png) repeat-x left -16px;
                            }
                            &.active {
                                background: url(css/star.png) repeat-x left -32px;
                            }
                            &.star-1 {
                                width: 16px;
                                z-index: 10;
                            }
                            &.star-2 {
                                width: 32px;
                                z-index: 9;
                            }
                            &.star-3 {
                                width: 48px;
                                z-index: 8;
                            }
                            &.star-4 {
                                width: 64px;
                                z-index: 7;
                            }
                            &.star-5 {
                                width: 80px;
                                z-index: 6;
                            }
                        }
                    }
                }
                textarea#comment{
                    height: 100px;
                }
            }
        }
    }
}

/* Product gallery */
.product-gallery{
    margin-bottom: 25px;
    padding-right: 15px;
    margin-right: 0px;
    .owl-height{
        height: auto !important;
    }
    .main-images{
        padding-right: 13px;
    }
    .product-img {
        border: 1px solid $border;
    }
    .product-images-slider{
        position: relative;
    }

    .product-image-btn{
        .product-lightbox-btn{
            position: absolute;
            bottom: -3px;
            right: 10px;
            z-index: 10;
            @include single-transition(all, 200ms);
            background-image: url('css/images/product_enlarge.png');
            display: block;
            height: 50px;
            width: 50px;
            &:hover{
                right: 13px;
                bottom: 0px;
            }
        }
        .product-video-popup{
            position: absolute;
            font-size: $font-size;
            right: 40px;
            top: 30px;
            z-index: 10;
            color: #666;
            span{
                margin-right: 10px;
            }
        }
    }
}


/* Product video popup */
.mfp-iframe-holder{
    padding: 40px 0;
    .mfp-content{
        line-height: 0;
        width: 100%;
        max-width: 900px;
        -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
        .mfp-iframe-scaler{
            width: 100%;
            overflow: hidden;
            padding-top: 56.25%;
            iframe {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
                background: black;
                max-width: 100% !important;
            }
        }
    }
}


/* Product zoom */
.easyzoom {
    position: relative;
    *display: inline;
    *zoom: 1;
    img {
        vertical-align: bottom;
        max-width: 100%;
    }
    &.is-loading img {
        cursor: progress;
    }
    &.is-ready img {
        cursor: crosshair;
    }
    &.is-error img {
        cursor: not-allowed;
    }
    .easyzoom-notice {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 150;
        width: 10em;
        margin: -1em 0 0 -5em;
        line-height: 2em;
        text-align: center;
        background: #fff;
        box-shadow: 0 0 10px #888;
    }
    .easyzoom-flyout {
        position: absolute;
        z-index: 97;
        overflow: hidden;
        background: #ffffff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        @include single-transition(opacity, .3s);
        img{
            max-width: none;
            width: auto !important;
        }
        &:hover{
            opacity: 1;
        }
    }
}