/* Text meant only for screen readers. */
#lt-before-load{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #FFF;
    opacity: 1;
    z-index: 9999;
    .lt-relative{
        position: relative;
        width: 0;
        left: 50%;
        top: 48%;
        .please-wait.type2{
            width: 100px;
            height: 100px;
            top: -45px;
            left: -35px;
            animation: spin 1s infinite linear;
            p{
                font-size: 190%;
                padding-top: 30px;
            }
        }
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

html{
    min-height: 100%;
}

body {
    min-height: 100%;
    overflow-y: scroll;
    background-color: #ccc;
    &.bg-full-size {
        background-size: cover;
        background-attachment: fixed;
        background-repeat: none;
        background-position: 50% 50%;
    }
    &.boxed {
        background-color: #555;
        #wrapper {
            max-width: $box-width;
            margin: 0 auto;
            overflow-x: hidden;
        }
        
        //Fix for boxed layout
        #masthead .header-container .logo-wrapper{
            display: block;
            margin-top: 10px;
        }
    }
    &.full-width #wrapper {
        width: 100%;
    }
}

#wrapper {
    background-color: #fff;
}

.container-wrap{
    padding: 30px 0 10px;
    @include clearfix();
}
.page .container-wrap{
    padding: 10px 0 10px;
}

.product-page{
    padding-top: 30px
}
.row.container{
    margin-bottom: 30px;
}

.clearfix{
    @include clearfix();
}

.align_right{
    text-align: right;
}

.pe7-icon{
    font-size: $font-pe7-icon;
}

.width-fluid > .row,
.width-fluid > .row > .large-12{
    width:100%!important;
    min-width:100%;
    padding-left:0!important;
    padding-right:0!important
}
.row.divided .columns{
    border-right:1px solid rgba(0,0,0,.05);
}
.row.divided .columns:last-child{
    border:0;
}
.top-divider{
    border-top: 1px solid $border-light;
}
.uppercase{
    text-transform: uppercase;
}
.thin-font{
    font-weight:normal;
    font-weight: 300;
}
p:empty{
    display: none;
}
table{
    width: 100%;
}

.social-icons{
    margin-bottom: 0px;
    li{
        display: inline-block;
        position: relative;
        list-style: none;
        margin-right: 11px;
        a{
            display: block;
            &:focus{
                outline: none;
            }
            &:hover{
                .circle{
                    opacity: 1; @include scale(1.1,1.1);
                }
                .icon-facebook{
                    color: #3a589d;
                }
                .icon-twitter{
                    color: #2478ba;
                }
                .icon-envelop{
                    color: $primary-color;
                }
                .icon-pinterest{
                    color: #cb2320;
                }
                .icon-google-plus{
                    color: #dd4e31;
                }
                .icon-skype{
                    color: #00aff0;
                }
                .icon-instagram{
                    color: #6a453c;
                }
            }
        } 
    }
    span{
        position: relative;
        z-index: 2;
        font-style: normal;
        font-size: 13px;
        color: #aaa;
        @include single-transition(all, 30ms);
        text-align: center;
    }
    .icon-facebook,
    .icon-twitter,
    .icon-envelop,
    .icon-pinterest,
    .icon-google-plus,
    .icon-skype,
    .icon-instagram{
        display: block;
    }
}

/* Social icon Share */
.social-icons.share-row span.title{
    font-weight: bold;
    margin-right: 5px;
}

.star-rating{
    text-align: left;
    font-size:14px;
    overflow:hidden;
    position:relative;
    height:1em;
    line-height:1.2em;
    width:6em;
    font-family:'FontAwesome'; 
    margin: 0 auto;
    &:before{
        content:"\f006   \f006   \f006   \f006   \f006";
        color:#ddd;
        float:left;
        top:0;
        left:0;
        position:absolute
    }
    span{
        overflow:hidden;
        float:left;
        top:0;
        left:0;
        position:absolute;
        padding-top:1.5em;
        font-weight: normal;
        &:before{
            content:"\f005   \f005   \f005   \f005   \f005";
            color:#FF9919;
            top:0;
            position:absolute;
            left:0
        }
    }
}

.product-details .collapses-title.active a {
    background: transparent;
}

/* Pagination */
.lt-pagination{
    ul{
        margin-bottom: 0;
        li{
            display: inline-block;
            list-style: none;
            .pe7-icon{
                font-size: 130%;
                vertical-align: middle;
            }
        }
    }
    &.style-1{
        border: 1px solid #e5e5e5;
        padding: 10px 18px;
        .page-sumary{
            float: left;
        }
        .page-number{
            float: right;
            font-size: $font-size;
            li{
                margin-left: 10px;
                span.current,
                a.current,
                a.lt-current,
                a:hover{
                    text-decoration: underline;
                    color: $color_hover;
                }
            }
        }
    }
    &.style-2{
        hr{
            width: 50%;
            padding-bottom: 25px;
        }
        .page-numbers{
            text-align: center;
            font-size: $font-size;
            li{
                margin-right: 4px;
            }
            a,
            li > span{
                width: 30px;
                height: 30px;
                line-height: 28px;
                display :block;
                border: 1px solid #ddd;
                color: #444 !important;
                text-align: center;
                @include single-transition(background);
            }
            .next span,
            .prev span{
                color: #bbb;
            }
            span.current,
            a.current,
            a.lt-current,
            a:hover{
                background-color: $primary-color;
                border-color: $primary-color;
                color: #fff !important;
            }
        }
    }
}

/* Title */
.title-block{
    margin-bottom: 25px;
    .bery-hr{
        margin-top: 0;
    }
}
.heading-title{
    text-transform: uppercase;
}

.bery-hr{
    display: block;
    height:2px;
    background: #aaa;
    &.primary-color{
        background: $primary-color;
    }
    &.small{
        width: 20px;
    }
    &.medium{
        width: 60px;
    }
    &.large{
        width: 90px;
    }
    &.text-center{
        margin: 0 auto;
    }
    &.text-right{
        float: right;
    }
}

/* Please wait style */
.widget .item-product-widget .please-wait{
    top: 30%;
    left: 26%;
}
.item-product-widget .please-wait{
    top: 40%;
    left: 35%;
}
.please-wait{
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 9999;
    > span{
        display: inline-block ;
        width: 10px;
        height: 10px;
        margin: 0 2px;
        background: #888;
        opacity: 0;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-animation: loader-fade 1s infinite;
        -moz-animation: loader-fade 1s infinite;
        -o-animation: loader-fade 1s infinite;
        -ms-animation: loader-fade 1s infinite;
        animation: loader-fade 1s infinite;
        -moz-box-shadow: 0 0 1px white;
        -webkit-box-shadow: 0 0 1px white;
        box-shadow: 0 0 1px white;
        &:nth-child(1) {
            -webkit-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
            -o-animation-delay: 0.2s;
            -ms-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }
        &:nth-child(2) {
            -webkit-animation-delay: 0.4s;
            -moz-animation-delay: 0.4s;
            -o-animation-delay: 0.4s;
            -ms-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }
        &:nth-child(3) {
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            -o-animation-delay: 0.6s;
            -ms-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }
    }
    &.type2{
        content: " ";
        z-index: 99999;
        font-size: 10px;
        position: absolute;
        pointer-events: none;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        text-indent: -9999em;
        border-top: 3px solid rgba(0,0,0,0.1);
        border-right: 3px solid rgba(0,0,0,0.1);
        border-bottom: 3px solid rgba(0,0,0,0.1);
        opacity: .8;
        border-left: 3px solid #627f9a;
        -webkit-animation: spin .5s infinite linear;
        animation: spin .5s infinite linear;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border-left: 3px solid #fff !important;
        &:after{
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
    }
}

@-webkit-keyframes loader-fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes loader-fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loader-fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

/* Breadcrumb */
.archive .bread{
    margin-bottom: 30px;
}
.bread{
    background: #f8f8f8;
    display: block;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    margin: 20px 0px;
    padding: 18px 0px 14px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    &.lt-breadcrumb-has-bg{
    	border: none;
    	padding: inherit;
	.row,
        .columns{
	    display: table;
	    width: 100%;
	    height: 100%;
	    vertical-align: middle;
	    .breadcrumb-row{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h3, a, span{
		    color: inherit;
		}
		a:hover{
		    color: $color_hover;
		}
	    }
	}
    }
    .breadcrumb-row{
        float: none;
        z-index: 99;
        margin-bottom: 0px;
        h2{
            color: inherit;
            text-transform: uppercase;
            font-size: 130%;
        }
        h3{
            font-weight: normal;
            font-style: italic;
            letter-spacing: 0;
            padding: 0px;
            font-size: $font-size;
            span.fa{
                margin: 0px 10px;
                color: #ccc;
            }
            .current,
            a:hover{
                color: $primary-color;
            }
        }
    }
    .back-history{
        position: absolute;
        top: 50%;
        right: 0;
        font-size: $font-size;
        &:before{
            content: "\f104";
            font-family: FontAwesome;
            font-size: 9px;
            margin: 0 9px 0 0;
        }
    }
}

/* Promo popup */
#lt-popup {
    text-align: center;
    position: relative;
    span{
        font-size: 120%;
        color: #666;
    }
    .checkbox-label{
        bottom: 0;
        label{
            display: inline-block;
            position: relative;
            top: 2px;
            color: #666;
            top: -2px !important;
            margin-left: 10px;
        } 
    }
    &.white-popup-block{
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        margin: 40px auto;
        max-width: 95%;
        padding: 29px;
        position: relative;
        .mfp-close{
            width:30px; 
            height: 30px;
            line-height: 15px;
            top: -48px;
            left: 48%;
            background: transparent !important;
            color: #d6d6d6; 
            font-size: 35px;
        }
    }
    .ninja-forms-form-wrap{
        margin-bottom: 80px;
        .ninja-forms-success-msg{
            font-size: 110%;
            margin-top: 20px;
        }
        .ninja-forms-form{
            .ninja-forms-all-fields-wrap{
                .ninja-forms-required-items{
                    display: none;
                }
                .text-wrap{
                    display: block;
                    margin-bottom: 30px;
                }
                .field-wrap{
                    .email{
                        margin-left: 0px;
                        border-width: 0px 0px 1px;
                        background: transparent none repeat scroll 0% 0%;
                        border-color: #d8d8d8;
                        margin-top: 45px;
                        padding: 12px !important;
                        font-size: 150%;
                        text-align: center;
                    }
                    .button{
                        background: $color-hover !important;
                        border: none !important;
                        color: #fff;
                        letter-spacing: 2px;
                        &:hover{
                            background: #333 !important;
                        }
                    }
                }
            }
        }
    }
}

.my-mfp-slide-bottom .zoom-anim-dialog{
    opacity: 0;
    transform: translateY(-20px) perspective(600px) rotateX(10deg);
    -webkit-mz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    -moz-mz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    -ms-mz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    -o-mz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    @include single-transition(all, 500ms);
}

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog{
    opacity: 1;
    transform: translateY(0px) perspective(600px) rotateX(0deg);
    -webkit-mz-transform: translateY(0px) perspective(600px) rotateX(0deg);
    -moz-mz-transform: translateY(0px) perspective(600px) rotateX(0deg);
    -ms-mz-transform: translateY(0px) perspective(600px) rotateX(0deg);
    -o-mz-transform: translateY(0px) perspective(600px) rotateX(0deg);
    @include single-transition(all, 500ms);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog,
.my-mfp-slide-bottom.mfp-ready .mfp-figure {
    opacity: 1;
    -webkit-transform: translateY(0) perspective(600px) rotateX(0);
    -moz-transform: translateY(0) perspective(600px) rotateX(0);
    -ms-transform: translateY(0) perspective(600px) rotateX(0);
    -o-transform: translateY(0) perspective(600px) rotateX(0);
    transform: translateY(0) perspective(600px) rotateX(0);
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog,
.my-mfp-slide-bottom.mfp-removing .mfp-figure {
    opacity: 0;
    -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/***** Progress Bar *****/
.progress-bar {
    border: 1px solid #eaeaea;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 10px;
    margin-bottom: 80px !important;
    position: relative;
    .bar-label {
        font-size: $font-size;
        font-weight: bold;
        position: absolute;
        left: 0px;
        top: -25px;
        text-transform: uppercase;
    }
    .bar-meter {
        display: block;
        height: 100%;
        width: 0; /* init width */
        position: relative;
        .bar-number{
            opacity: 0;
            width: 35px;
            height: 35px;
            position: absolute;
            top: -45px;
            right: -15px;
            @include radius(50px);
            border: 1px solid #666;
            text-align: center;
            line-height: 30px;
            color: $primary-color;
            @include single-transition(all, 350ms);
        }
    }
}

.vertical-tabs ul.tabs-nav{
    margin-left: 0;
    z-index:9;
    margin-right: -1px;
    height: 100%;
}
.vertical-tabs ul.tabs-nav li{
    list-style: none;
    font-size: 110%;
    text-transform: uppercase;
    font-weight: bold;
}
.vertical-tabs ul.tabs-nav li a{
    background:#FFF;
    border-bottom: 1px solid $border-light;
    border-right: 1px solid $border-light;
    padding: 10px 0;
    display: block;
    color:#999;
    @include single-transition(border);
}
.vertical-tabs ul.tabs-nav li:first-child a{
    border-top: 1px solid $border-light;
}
.vertical-tabs ul.tabs-nav li.current a,
.vertical-tabs ul.tabs-nav li.current-menu-item a{
    color:#333;
    border-right: none !important;
}
.vertical-tabs ul.tabs-nav li a:hover{
    color:#333;
}
.vertical-tabs .tabs-inner {
    padding-left: 40px;
    padding-top: 25px;
}
.vertical-tabs .tabs-inner.active {
    padding-top: 25px;
}
.shortcode_tabgroup_vertical h3{
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
    margin: 0;
}
.vertical-tabs .tabs-inner,.tabbed-content .panel {
    height: 0;
    opacity: 0;
}
.vertical-tabs .tabs-inner.active, .tabbed-content .panel.active {
    height: auto;
    opacity: 1;
}

.span.icon-instagram{
    font-size: $font-size;
}
.search-icon{
    font-size: 16px;
}

button[disabled] {
    background-color: #333;
    opacity: 0.6;
}
button.primary-color{
    color: #fff !important;
    border: none;
}

.alert-box{
    border:1px solid lighten( $alert-color, 30%);
    display: block;
    color:#fff;
    font-size: $font-size;
    position: relative;
    margin:30px 0;
    background-color: $alert-color;
}
.alert-box ul{
    display: inline-block;
    margin-bottom: 0px;
}
.alert-box:before{
    color: #FFF;
    background: $alert-color;
    @include radius(99px);
    padding: 3px;
    font-family: 'icomoon';
    content: "\61";
    margin-right: 10px;
}
.alert-box ul li{
    list-style: none;
    font-weight: normal;
}

.woocommerce-message{
    padding: 10px;
    border:1px solid lighten( $success-color, 10%);
    display: block;
    color:$success-color;
    font-size: $font-size;
    position: relative;
    margin:30px 0px 30px 0px !important;
}
.woocommerce-message a.button{
    display: none;
}
.woocommerce-message:before{
    color: #FFF;
    background: $success-color;
    @include radius(99px);
    padding: 3px;
    font-family: 'icomoon';
    content: "\e00a";
    margin-right: 10px;
}
.single-product .woocommerce-message{
    margin-bottom: 0;
}

#top-link{
    display:none;
    background: #000;
    position:fixed;
    right:35px;
    text-align: center;
    bottom:20%;
    color:#FFF;
    text-decoration:none;
    width:40px;
    padding:8px 8px 12px 10px;
    font-size:20px;
    opacity: 0.5;
    z-index: 99;
    @include radius(2px);
    @include all-transition();
}
#top-link.active{
    display: block;
}
#top-link.active:hover{
    opacity: 0.8;
}

.entry-content > ul,
.short-description > ul,
.t0abs-inner ul,
.tabs-inner ol,
.accordian-inner ul,
.accordian-inner ol{
    margin-left: 20px;
}
ul.checkmarks li{
    margin-bottom: 10px;
    padding:0 0 15px;
    border-bottom: 1px dotted $border;
    line-height: 110%;
}
ol.commentlist li{
    list-style: none;
}
.entry-content .commentlist{
    padding: 15px;
}
#content > ul{
    margin-left: 20px;
}

/* TOOL TIP */
.tipr_content{
    color: #FFF;
    padding: 5px 10px 7px;
    text-align: center;
    font-size: $font-size;
}
.tipr_container_bottom{
    display: none;
    position: absolute;
    margin-top: 13px;
    z-index: 1000;
}
.tipr_container_top{
    display: none;
    position: absolute;
    margin-top: -40px;
    z-index: 1000;
}
.tipr_point_top,
.tipr_point_bottom{
    position: relative;
    background: #111;
    @include radius(3px);
    opacity: 0.95;
}
.tipr_point_top:after{
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    top: 100%;
    content: "";
    height: 0;
    width: 0;
}
.tipr_point_top:after{
    border-top-color: #111;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}
.tipr_point_bottom:after{
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    bottom: 100%;
    content: "";
    height: 0;
    width: 0;
}
.tipr_point_bottom:after{
    border-bottom-color: #111;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}

.select-wrapper {
    position: relative;
    background: url('css/images/select-arrow.png') no-repeat 96% 50%;
    overflow: hidden;
    &:after {
        border-color: rgba(145, 145, 145, 0);
        border-top-color: #919191;
        border-width: 6px;
        right: 8px;
        margin-left: -6px;
    }
    select {
        padding: 5px 10px;
        border: 1px solid #e6e6e6;
        margin: 0;
        appearance: none;
        cursor: pointer;
        color: $body-font-color;
        background: transparent;
    }
}

.bery_block .edit-link{
    display: none;
}

a.lost_password{
    margin-left: 15px;
}
.columns > br,
.row > br{
    display: none;
}

pre {
    border: 1px solid #ddd;
    padding: 20px;
    background: #f1f1f1;
    margin-bottom: 30px;
    margin-top: 20px;
}

.catalog-mode-header{
    padding-top: 15px;
    text-align: right;
    float: right;
}
.catalog-mode-header > div{
    display: inline-block;
}
.catalog-mode-header input,
.catalog-mode-header form,
.catalog-mode-header button{
    margin: 0;
}
.no-prices span.amount,
.no-prices form.cart{
    display: none;
}
.catalog-product-text{
    padding-bottom: 15px;
}
.catalog-product-text .collapses{
    margin: 0;
}

.woocommerce-info{
    padding:15px 0px;
}

.col_hover_focus > *,
.col_hover_fade > *,
.col_hover_blur > *,
.col_hover_grayscale > *{
    @include single-transition(all,200ms,ease-in-out);
    position: relative;
}
.col_hover_focus:hover > *{
    opacity: 1;
}
.col_hover_fade:hover > *{
    opacity: 1;
}
.col_hover_grayscale >*{  
    opacity: 0.7;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; 
    -webkit-filter: grayscale(100%); 
}
.col_hover_grayscale:hover > *{
    opacity: 1;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
.col_hover_blur > *{
    -webkit-filter: blur(3px);
}
.col_hover_blur:hover > *{
    -webkit-filter: blur(0px);
}

.square-round{
    transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.square-round:hover{
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%; 
    transition:all .4s ease-in-out;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
}

.error404 .entry-content .search-wrapper{
    display: none;
}
.error404 .entry-content{
    margin-bottom: 90px;
}
.error404 .entry-content p{
    margin-bottom: 60px;
}

@-moz-document url-prefix() {
    .select-wrapper:after{
        display: none;
    }
    .quantity input[type=number] {
        -moz-appearance:textfield;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    .select-wrapper:after{
        display: none;
    }
}

.woocommerce-message{
    display: none !important;
}

.font-large {font-size: 600% !important; line-height: 80%; margin: 15px 0px;}
.font-xlarge{font-size: 900% !important; line-height: 80%; margin: 15px 0px;}

.font-100{font-size: 100% !important; line-height: 100%; margin: 7px 0px;}
.font-150{font-size: 150% !important; line-height: 100%; margin: 7px 0px;}
.font-200{font-size: 200% !important; line-height: 100%; margin: 7px 0px;}
.font-250{font-size: 250% !important; line-height: 100%; margin: 7px 0px;}
.font-300{font-size: 300% !important; line-height: 100%; margin: 7px 0px;}
.font-350{font-size: 350% !important; line-height: 100%; margin: 7px 0px;}
.font-400{font-size: 400% !important; line-height: 100%; margin: 7px 0px;}
.font-450{font-size: 450% !important; line-height: 100%; margin: 7px 0px;}
.font-500{font-size: 500% !important; line-height: 100%; margin: 7px 0px;}
.font-550{font-size: 550% !important; line-height: 100%; margin: 7px 0px;}
.font-600{font-size: 600% !important; line-height: 100%; margin: 7px 0px;}
.font-650{font-size: 650% !important; line-height: 100%; margin: 7px 0px;}


.margin-top-0{margin-top: 0px !important;}
.margin-top-10{margin-top: 10px !important;}
.margin-top-15{margin-top: 15px !important;}
.margin-top-20{margin-top: 20px !important;}
.margin-top-25{margin-top: 25px !important;}
.margin-top-30{margin-top: 30px !important;}
.margin-top-35{margin-top: 35px !important;}
.margin-top-40{margin-top: 40px !important;}
.margin-top-45{margin-top: 45px !important;}
.margin-top-50{margin-top: 50px !important;}
.margin-top-60{margin-top: 60px !important;}
.margin-top-70{margin-top: 70px !important;}
.margin-top-80{margin-top: 80px !important;}
.margin-bottom-0{margin-bottom: 0px !important;}
.margin-bottom-10{margin-bottom: 10px !important;}
.margin-bottom-15{margin-bottom: 15px !important;}
.margin-bottom-20{margin-bottom: 20px !important;}
.margin-bottom-25{margin-bottom: 25px !important;}
.margin-bottom-30{margin-bottom: 30px !important;}
.margin-bottom-35{margin-bottom: 35px !important;}
.margin-bottom-40{margin-bottom: 40px !important;}
.margin-bottom-45{margin-bottom: 45px !important;}
.margin-bottom-50{margin-bottom: 50px !important;}
.margin-bottom-60{margin-bottom: 60px !important;}
.margin-bottom-70{margin-bottom: 70px !important;}
.margin-bottom-80{margin-bottom: 80px !important;}

.hide{display: none;}

span.custom-icon-w-text {
    display: block;
    line-height: 1.8;
    margin-left: 12px;
}

span.custom-icon-w-text i {
    margin-right: 12px;
    vertical-align: top;
}

.columns span.custom-icon-w-text:last-of-type {
    margin-bottom: 26px;
}

span.custom-icon-w-text i.checked {
    color: #9FD355; 
    font-size: 22px;
}

.solid-green,
.bar_green { /* VC progress bar color */
    background: #71BB6D !important;
}

.solid-red,
.bar_red { /* VC progress bar color */
    background: #E66F66 !important;
}

.solid-yellow {
    background: #FAB336 !important;
}

.solid-blue,
.bar_blue { /* VC progress bar color */
    background: #4F84C7 !important;
}

.solid-gray,
.bar_grey { /* VC progress bar color */
    background: #A2A2A2 !important;
}

.solid-gold {
    background: #C5AE87 !important;
}

.solid-pink {
    background: #EB9FCF !important;
}

.solid-purple {
    background: #9D75C2 !important;
}

@keyframes icon_slide_down {
    0% { @include translate-Y(-3px);}
    100% { @include translate-Y(3px); }
}

@keyframes pulse {
    0% { transform: scale(0); }
    100% { transform: scale(1); -webkit-filter: blur(5px); }
}

@keyframes fadeout {
    85% { opacity: 1; }
    100% { opacity: 0; }
}

.load-more{
    font-size: 110%;
    cursor: pointer;
    border: 2px solid #bbb;
    padding: 11px 0px;
    width: 135px;
    margin: 0 auto;
    @include single-transition(all, 350ms);
    .load-more-icon{
        color: #999;
        animation-name: icon_slide_down;
        animation-duration: 0.68s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 15px;
    }
    &:hover{
        background: #f7f6f5;
    }
    &.end-product{
        color: #888;
        cursor: auto;
        width: 220px;
    }
}
#ajax-loading{
    &.absolute{
        position: absolute;
        left: 49%;  
    }
    opacity: 1;
    margin: 0 auto;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: 10px solid #e6e6e6;
    animation-name: pulse, fadeout;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    @include single-transition(all, 350ms);
}

.black-window, .white-window{
    cursor: pointer;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 400;
}
.black-window{
    background: #000;
}

.white-window{
    background: #fff;
}

.lt-tranparent{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1;
}

.opacity{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    background: #FFF;
}

.opacity-2{
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.opacity-3{
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .9;
    background: #FFF;
    .please-wait.type2{
        top: 200px;
    }
}

/* hide tag in desktop */
.sort-bar .li-toggle-sidebar, .category-page .sort-bar .li-toggle-sidebar{
    display: none;
    float: left;
    position: absolute;
    left: 10px;
    a{
        display: block;
        border: 1px solid #AAA;
        padding: 5px 15px;
    }
}

.div-toggle-sidebar{
    display: none;
    text-align: left;
    float: left;
    margin: 0px auto 20px 10px;
    
    &.center{
        text-align: center;
        float: none;
        margin: 0 auto 20px auto;
        width: 150px;
    }
    
    a{
        display: block;
        border: 1px solid #AAA;
        padding: 10px 25px;
    }
}

.hidden-tag{display: none}
.inline-block{display: inline-block;}
.required{
    color: #f00;
}
.lt-pos-absolute{
    position: absolute;
}
.lt-pos-relative{
    position: relative;
}
.lt-over-hide{
    overflow: hidden;
}
.warpper-mobile-search.show-in-desk{
    display: block;
    position: fixed;
    z-index: 9999;
    background: #fff;
    padding: 15px 10px 25px 10px;
    width: 100%;
    top: -100%;
    box-shadow: 10px 5px 30px 3px #d1d1d1;
    text-align:center;
    input{
        width: 100%;
        margin: auto;
    }
    form{
        margin: 0;
        .screen-reader-text{
            position: relative;
            width: 100%;
            height: auto;
            padding-bottom: 10px;
            font-weight: bold;
            font-size: 120%;
        }
        input{
            margin: 0;
        }
        > label{
            padding-bottom: 10px;
        }
    }
    .twitter-typeahead,
    input.live-search-input{
        width: 100%
    }
    .tt-dropdown-menu{
        width: 100%;
        background: #FFF;
        padding:10px;
        border: 1px solid #ddd;
        border-top: none;
        left: 0;
        -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
        .item-search{
            max-height: 70px;
            overflow: hidden;
            a {
                display: block;
                width: 100%;
                padding: 5px 0;
                overflow: hidden;
                &:hover{
                    background: #f9f9f9;
                }
                p{
                    font-size: 100%;
                    text-align: left;
                }
                .lee_item_title_search,
                img{
                    float: left;
                }
                .lee_item_title_search{
                    margin-left: 12px;
                }
                img{
                    width: 60px;
                    height:60px;
                    margin-right: 10px;
                }
            }
        }
    }
    .please-wait{

    }
}
.reset_price{
    display: none;
}

.lt-bg-dark{
    background-color: #333;
}

.lt-mgr-y-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.lt-mgr-y-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.lt-mgr-top-20{
    margin-top: 20px;
}

.lt-mgr-top-40{
    margin-top: 40px;
}

.lt-mgr-bot-20{
    margin-bottom: 20px;
}

.lt-mgr-bot-40{
    margin-bottom: 40px;
}