{% extends "base.twig" %}
{% block content %}
    <!-- quos ego BEGIN -->
    <main>
        <!-- Main Top BEGIN  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    {% include 'nav/sidebar.twig' %}
                </div>
                <div class="col-sm-12 col-md-9 col-lg-10">
                    {% include 'nav/top.twig' %}
                    {% do action('woocommerce_before_main_content') %}
                    <section class="s-products products_wrapper">
                        {% do action('woocommerce_before_shop_loop') %}
                        {% if  products %}
                            <ul class="products_row products columns-4">
                                {% for post in products %}
                                    {% include 'content/product-preview.twig' %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ function('wc_get_template','loop/orderby.php') }}
                        {% endif %}
                        {% do action('woocommerce_after_shop_loop') %}
                        {% do action('woocommerce_after_main_content') %}
                    </section>


                </div>
            </div>
        </div>
        <!-- Main Top END -->
    </main>
    <!-- quos ego END -->
{% endblock %}