<!-- Footer BEGIN -->
<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer_logo">
                    <a href="{{ site.link }}">
                        Koketka <br>
                        fashion ltd
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <nav class="footer_menu">
                    <h4>Информация</h4>
                    {% include 'nav/footer.twig' %}
                </nav>
            </div>

            <div class="col-sm-3">
                <div class="footer_contact">
                    <h4>Данни за контакт</h4>
                    <nav>
                        <ul>
                            <li>{{ mods.address }}</li>
                            <li>тел: {{ mods.phone1 }}</li>
                            <li>{{ mods.phone2 }}</li>
                            <li>mail: {{ mods.email }}</li>
                        </ul>
                    </nav>
                </div>
                <div class="footer_social">
                    <h5>Социални мрежи</h5>
                    {% set navclass='social_custom' %}
                    {% include 'nav/social.twig' %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer_dev">
                    <p><strong>Изработка на сайта</strong> <a
                                href="https://nikita.global">nikita.global</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{{ function('wc_get_template','myaccount/form-login-modal.php') }}
<!--— Footer END -->
<div id="ngnotice" class="form_custom form_sign_up" style="display:none;">
    <div class="form_item">
        <div class="ngnoticehere"></div>
        <div class="popup_close">
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <line x1="18" y1="3.53553" x2="4.53553" y2="17" stroke="white"
                      stroke-width="5" stroke-linecap="round"/>
                <line x1="17.4645" y1="17" x2="4" y2="3.53554" stroke="white"
                      stroke-width="5" stroke-linecap="round"/>
            </svg>
        </div>
    </div>
</div>
{{ function('wp_footer') }}
</body>
</html>
