<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% if wp_title %}{{ fn('wp_title','') }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>

    <!--- Сжатые и объединенные библиотеки CSS / Включить после сборки
     <link rel="stylesheet" href="assets/css/libs.min.css"> -->


    {{ function('wp_head') }}

    <style>.cwprocessing:before {
            content: 'Моля чакайте'
        }
        .ngsubmitted:before {
            content: 'Благодаря!'
        }</style>
</head>

<body class="{{ contentzone }}">

<!-- Popup BEGIN -->

<!-- Callback -->
{% filter shortcodes %}
    [cw_ff]form0[/cw_ff]
{% endfilter %}
<!-- Header BEGIN -->
<header class="header" id="header">
    <div class="container-fluid">

        <div class="chat">
            <a href="#" data-fancybox data-src="#callback_form">
                <img src="{{ theme.link }}/assets/images/chat.svg" alt="Koketka">
            </a>
        </div>


        <div class="header_row">
            <div class="header_logo">
                <a href="{{ site.url }}"><img
                            src="{{ theme.link }}/assets/images/logo.svg"
                            alt="Koketka"></a>
            </div>

            <div class="header_search_wrap">
                <form>
                    <div class="header_search">
                        <input name="s" type="text"
                               placeholder="{{ __('Search', 'woocommerce') }}" value="{{ s }}">
                        <button type="submit">
                            <img src="{{ theme.link }}/assets/images/magnify.svg"
                                 alt="Koketka">
                        </button>
                    </div>
                </form>
            </div>


            <div class="header_right">
                <div class="header_contacts">
                    {% set navclass='header_social' %}
                    {% include 'nav/social.twig' %}

                    <div class="header_phone">
                        <p class="p_title">Телефони</p>
                        <div class="p_item">
                            <a href="tel:+{{ mods.phone1|keepNumbers }}">
                                <p>{{ mods.phone1 }}</p></a>
                            <a href="tel:+{{ mods.phone2|keepNumbers }}">
                                <p>{{ mods.phone2 }}</p></a>
                        </div>
                    </div>
                </div>


                <span class="cart_button">
                    {% if cart.count>0 %}
                    <a href="{{ cart.url }}">
                        {% else %}
                        <span>
                            {% endif %}
                        <img src="{{ theme.link }}/assets/images/shopping-cart.svg"
                             alt="Koketka">
                        <span>{{ __('Cart','woocommerce') }}</span>
                        <span class="cart_quantity">{{ cart.count }}</span>
                            {% if cart.count>0 %}
                    </a>{% else %}
                </span>{% endif %}
            </div>


            {% include 'parts/cabinet.twig' %}


            <div class="times_button">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>


        <div class="search_button">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>


        <div class="hamburger_button">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>


    </div>
</header>
<!-- Header END -->
