{% extends "base.twig" %}
{% block content %}
    <!-- quos ego BEGIN -->
    <main>
        <!-- Main Top BEGIN  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    {% include 'nav/sidebar.twig' %}
                </div>

                <div class="col-sm-12 col-md-9 col-lg-10">
                    {% include 'nav/top.twig' %}
                    {% include 'nav/crumbs.twig' %}

                    <!-- Bread Crumbs END -->


                    {% if product %}{% include ['content/product.twig', 'content/content.twig'] %}{% else %}
                        {% for post in posts %}
                            {% include ['content/'~post.post_type~'.twig', 'content/content.twig'] %}
                        {% endfor %}
                    {% endif %}


                </div>
            </div>
        </div>
        <!-- Main Top END -->
    </main>
    <!-- quos ego END -->
{% endblock %}