<section class="s-contacts">
    <div class="contacts_left">
        <div class="contacts_map">
            {{ block.bMap|ngblock('{"type":"textarea","label":"Карта", "default":""}') }}
        </div>

        <div class="contacts_items">
            {{ block.bContacts|ngblock('{"type":"textarea","label":"Контакти", "default":"<p>ВАРНА, УЛ.&quot;ЛЮБЕН КАРАВЕЛОВ&quot; 48</p><p>ТЕЛ: +359 889 315 972</p><p>ТЕЛ: +359 899 44 23 63</p><p>MAIL: OFFICE@KOKETKA.BG</p>"}') }}
        </div>
    </div>

    <div class="contacts_right">
{% filter shortcodes %}{{ block.bForm|ngblock('{"type":"textarea","label":"Шорткод"}') }}{% endfilter %}
    </div>

</section>