<section class="main_banner">
    <div class="banner_arrow_prev">
        <img src="{{ theme.uri }}/assets/images/slide-prev.svg" alt="Koketka">
    </div>
    <div class="main_banner_slider">
        {% set images=block.bBanners|ngblock('{"type":"images","label":"Слайды", "default":""}') %}
        {% for image in images %}
            <!-- Slide BEGIN -->
            <div class="banner_item"
                 style="background-image: url({{ Image(image).src() }});
                {% if Image(image).post_content|length > 0 %}cursor:pointer;{% endif %}"
                {% if Image(image).post_content|length > 0 %}
                onclick="location.href='{{ Image(image).post_content() }}'"
                {% endif %}
                 >
                {% if Image(image).post_content|length > 0 %}
                <a href="{{ Image(image).post_content() }}">
                {% endif %}
                <h1>
                    {{ Image(image).title() }}
                    {% if (Image(image).alt()) %}
                        <del>
									<span>
										{{ Image(image).alt() }}
									</span>
                        </del>
                    {% endif %}
                </h1>
                <p>{{ Image(image).caption() }}</p>
            {% if Image(image).post_content|length > 0 %}
            </a>
            {% endif %}
            </div>
            <!-- Slide END -->
        {% endfor %}
    </div>
</section>