{% set images=block.bImages|ngblock('{"type":"images","label":"Images", "default":""}') %}
{% if images %}
    <section class="s-products">
        <ul class="products_row products_row_old">
            {% for image in images %}
                <li class="products_item product type-product status-publish first instock product_cat-posters has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
                    <a href="{{ Image(image).post_content() }}">
                        <img src="{{ Image(image).src() }}"
                             class="woocommerce-placeholder wp-post-image" alt="">
                        <h2 class="woocommerce-loop-product__title">{{ Image(image).title() }}</h2>
                        <span class="currency price">
                    {% set price=Image(image).alt()|split('-') %}
{% if 2==1 %}
                            {% if price.1>0 %}
									<span class="woocommerce-Price-currencySymbol">{{ price.0|wcprice }}</span>
									<del class="woocommerce-Price-amount">{{ price.1|wcprice }}</del>
                                {% else %}
                                <span class="woocommerce-Price-currencySymbol">{{ price.0|wcprice }}</span>
                            {% endif %}
{% endif %}
								</span>
                    </a>
                    <a href="{{ Image(image).post_content() }}"
                       class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart_button ajax_add_to_cart">
                        Виж повече
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% else %}
    ...
{% endif %}
