<div class="top">
    <div class="left">
        {% set images=block.bImages|ngblock('{"type":"images","label":"Картинки", "default":" "}') %}
        {% for image in images %}
            {% include 'parts/image.twig' %}
        {% endfor %}
    </div>
    <div class="right">
        {{ block.bText|ngblock('{"type":"textarea","label":"Текст", "default":""}') }}
    </div>
</div>