<span style='color: #000' title='Frames'>   163</span><span style='color: #009' title='Memory'>  16384.00 KB</span><span style='color: #900' title='Time'>   1382.03 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />