{% set items={
    'dashboard':{
        'label':'Табло',
        'image':'calendar'
    },
    'orders':{
        'image':'gift',
        'label':'Поръчки'
    },
    'edit-address':{
        'label':'Адреси',
        'image':'home'
    },
    'edit-account':{
        'label':'Детали на профайла',
        'image':'pasport'
    },
    'customer-logout':{
        'label':'Изход',
        'image':'exit'
    }
} %}
{% do action( 'woocommerce_before_account_navigation' ) %}
<div class="active_sidebar">
    <nav class="sidebar_category">
        <ul>
            {% for key,item in items %}
                <li>
                    <a href="{{ wcendpoints[key].url }}"
                       {% if item.active %}class="active_link"{% endif %}>
                <span class="sidebar_image"><img
                            src="{{ theme.link }}/assets/images/{{ item.image }}.svg"
                            alt="Koketka"></span>
                        <span class="sidebar_text">{{ wcendpoints[key].label }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% do action( 'woocommerce_after_account_navigation' ) %}