<div class="sidebar_left">
    <nav class="sidebar_category">
        <h3 class="min_title sidebar_title">Категории</h3>
        <ul>
            {% for item in menus.sideMenu.get_items %}
                {# dump(item) #}
                <li {% if (item.current and current_item_parent==false) %}class="sidebar_category_active"{% endif %}>
                    <a href="{{ item.get_link }}">
                        {% if ('current-menu-item' in item.classes) %}<span
                                class="uppercase">{% endif %}
                            {{ item.title }}
                            {% if (item.current) %}</span>{% endif %}
                    </a>
                    {% if (item.has_child_class) %}
                        {% if (item.current_item_parent or 'current-menu-item' in item.classes) %}
                            <ul>
                                {% for item2 in item.children %}
                                    <li {% if (item2.current) %}class="sidebar_category_active"{% endif %}>
                                        <a href="{{ item2.get_link }}">
                                            {% if (item2.current) %}
                                            <span
                                                    class="uppercase">{% endif %}
                                                &nbsp;&nbsp;&nbsp;&nbsp;{{ item2.title }}
                                                {% if (item2.current) %}</span>{% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>