<ul class="{{ navclass }}">{% for item in menus.socialMenu.get_items %}
        <li><a href="{{ item.get_link }}"><i
                    class="fa {% if 'instagram' in item.get_link %}fa-instagram{% else %}fa-facebook-official{% endif %}"
                    aria-hidden="true"></i></a></li>
    {% endfor %}
</ul>