<nav class="menu_wrap">
    <div class="menu_list_wrap">
        {% for item in menus.topMenu.get_items %}
            <div class="{{ item.classes|join(" ") }} {% if ('current-menu-item' in item.classes or 'current-menu-ancestor' in item.classes) %} current_page_item{% else %}menu-item{% endif %} {% if item.has_child_class %}menu-item-has-children{% endif %}">
                <a href="{{ item.get_link }}">{{ item.title }}</a>
                {% if item.has_child_class %}
                    {% include 'nav/top_children.twig' %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</nav>