<div class="sub-menu">
    <div class="left">
        {% for item1 in item.children %}
            <div class="sub_list">
                <h4 class="sub_title">{{ item1.title }}</h4>
                {% if item1.has_child_class %}
                    <div class="submenu-sub">
                        {% for item2 in item1.children %}
                            <div class="sub-menu-item"><a href="{{ item2.get_link }}"
                                                          data-path="{% if item2.custom._menu_item_object=="product_cat" %}{% filter shortcodes %}[ngthemecatpicture cat="{{ item2.custom._menu_item_object_id }}"]{% endfilter %}{% endif %}">{{ item2.title }}</a>
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="right" id="#sub_menu_right">
        <img src="{{ theme.link }}/assets/images/submenu-bg.jpg" alt="Koketka">
    </div>
</div>
